<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="caligrafia">{{this.quote}}</h1>
    <p>{{this.autor}}</p>
    <ion-button color="light" size="large" (click)="generateQuote()">Generate</ion-button>
  </div>
</ion-content>
